@import "./header.css";
@import "./footer.css";
@import "../global.css";
@import "../utils.css";
@import "../fonts.css";
@import "./development.css";

body {
    background-color: #F2F4F7;
    font-family: 'Inter', Arial;
    font-weight: 400;
    color: #101828;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 0px 900px 518px 510px 882px 350px 810px 581px 588px 672px 300px;
    grid-template-areas:
        "header"
        "main-page"
        "development-page"
        "projects-page"
        "projects"
        "discussing-page"
        "stages-page"
        "team-page"
        "book-page"
        "faq-page"
        "footer";
    margin: 0;
    min-width: 1440px;
}

.moving-images {
    position: absolute;
    top: -100px;
    left: 780px;
    width: 700px;
    height: 1200px;
    z-index: -1;
    transform: rotate(-12deg);
    overflow: hidden;
}

.moving-image {
    position: absolute;
    width: 120%;
    height: 150%;
    background-repeat: no-repeat;
    background-size: contain;
}

.image-left {
    background-image: url('../../img/img-itwebsite/column-left.webp');
    animation: moveLeftColumn 15s infinite linear;
    background-position: 10px center;
}

.image-left::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../img/img-itwebsite/column-left.webp');
    background-size: contain;
    background-position: 10px center;
    background-repeat: no-repeat;
}

.image-right {
    background-image: url('../../img/img-itwebsite/column-right.webp');
    animation: moveRightColumn 15s infinite linear;
    background-position: 400px center;
}

.image-right::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../img/img-itwebsite/column-right.webp');
    background-size: contain;
    background-position: 400px center;
    background-repeat: no-repeat;
}

@keyframes moveLeftColumn {
    0% {
        transform: translateY(0) scale(1.05);
    }

    100% {
        transform: translateY(-100%) scale(1.05);
    }
}

@keyframes moveRightColumn {
    0% {
        transform: translateY(0) scale(1.05);
    }

    100% {
        transform: translateY(100%) scale(1.05);
    }
}

.main-page {
    grid-area: main-page;
}

.main-text {
    position: absolute;
    top: 160px;
    margin: 0 108px;
    width: 600px;
}

.main-text h2 {
    font-size: 36px;
    font-weight: 700;
}

.blue-text {
    color: #306FF5;
}

.main-text p {
    font-size: 15px;
    font-weight: 500;
}

.consultation-form {
    width: 676px;
    height: 186px;
    position: absolute;
    top: 444px;
    left: 108px;
    border-radius: 12px;
    background-color: #FFFFFF;
    padding: 24px;
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.1);
}

.consultation-contacts {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
}

.consultation-form h3 {
    font-size: 20px;
    margin-top: 0;
    font-weight: 700;
}

.consultation-form label {
    font-size: 13px;
    font-weight: 500;
    color: #667085;
}

.consultation-form input {
    border: none;
    border-bottom: 1px solid rgb(183, 182, 182);
    padding: 8px 0;
    font-size: 17px;
    font-weight: 400;
}

.consultation-form input::placeholder {
    color: #101828;
}

.consultation-form button {
    width: 132px;
    height: 58px;
    border-radius: 8px;
    border: none;
    background-color: #2D66EE;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    padding-left: 24px;
}

@media (max-width: 768px) {
    body {
        grid-template-rows: 0px 762px 518px 640px 698px 428px 1340px 884px 724px 778px 260px;
        width: 768px;
    }

    .moving-images {
        top: -70px;
        left: 390px;
        height: 830px;
    }

    .image-right {
        background-position: 275px center;
    }

    .image-right::before {
        background-position: 275px center;
    }

    .main-text {
        top: 138px;
        margin: 0 32px;
        width: 383px;
    }

    .main-text h2 {
        font-size: 28px;
    }

    .consultation-form {
        width: 382px;
        height: 356px;
        top: 374px;
        left: 32px;
        padding: 32px;
    }

    .consultation-contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .consultation-form h3 {
        font-size: 16px;
    }

    .hide {
        display: none;
    }

    .consultation-form label {
        font-size: 13px;
        font-weight: 500;
        color: #667085;
    }

    .consultation-form input {
        font-size: 14px;
    }

    .consultation-form button {
        width: 155px;
        height: 40px;
    }
}

@media (max-width: 425px) {
    body {
        grid-template-rows: 0px 1267px 780px 620px 1033px 669px 1500px 646px 923px 712px 400px;
        width: 425px;
    }

    .moving-images {
        top: 318px;
        left: 45px;
        height: 590px;
        transform: rotate(-9deg);
    }

    .image-right {
        background-position: 202px center;
    }

    .image-right::before {
        background-position: 202px center;
    }

    .main-text {
        margin: 0 24px;
    }

    .consultation-form {
        top: 878px;
        left: 24px;
    }
}

.projects-page {
    grid-area: projects-page;
}

.projects {
    grid-area: projects;
}

.discussing-page {
    grid-area: discussing-page;
}

.stages-page {
    grid-area: stages-page;
}

.team-page {
    grid-area: team-page;
}

.book-page {
    grid-area: book-page;
}

.faq-page {
    grid-area: faq-page;
}

.footer {
    grid-area: footer;
}