@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}


.heading-h1 {
    font-size: 64px;
    color: #1F3F68;
}


.heading-h2{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}


.heading-h3 {
    font-size: 36px;
    text-align: center;
}


.heading-h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}


.form-item {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button {
    background: linear-gradient(90deg, #4387f4 0%, #67A5DF 50%, #7575f0 100%);
    box-shadow: 0px 4px 15px rgba(16, 112, 177, 0.25);
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    letter-spacing: 0.5px;
}


.form-fon {
background-image: url('../img/fon.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
}

.bread {
    padding: 10px 0;
    color: #666;
}

.bread a {
    color: #5A98D0;
    text-decoration: none;
}